.poster-section {
  display: flex;
  margin: auto;
  height: 600px; /* Adjust height as needed */
  text-align: left;
  position: relative; /* To position video and text overlay correctly */
}

.poster {
  min-width: 100%;
  max-width: 100%;
  position: relative; /* To position video and text overlay correctly */
}

.poster video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire background */
  z-index: -1; /* Place video behind text */
}

.poster-slide {
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  height: 100%;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  color: white;
}

.poster-text-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center; /* Center text */
  z-index: 1; /* Ensure text is above the video */
}

.poster-text-overlay p {
  font-size: 24px;
  font-weight: 400;
  margin: 0; /* Remove default margin */
}

@media (min-width: 1260px) {
  .poster-section {
    width: 90%; /* Ensure content covers 90% of the width */
  }

  .poster-text-overlay p {
    font-size: 48px;
    font-weight: 800;
  }
}

@media (max-width: 1260px) {
  .poster-section {
    width: 90%; /* Ensure content covers 90% of the width */
  }

  .poster-text-overlay p {
    font-size: 40px; /* Adjusted font size for medium screens */
    font-weight: 600;
  }
}

@media (max-width: 1040px) {
  .poster-section {
    width: 90%; /* Ensure content covers 90% of the width */
  }

  .poster-text-overlay {
    width: 30%; /* Take up 30% of the width */
  }

  .poster-text-overlay p {
    font-size: 36px; /* Adjusted font size for screens up to 1040px */
    font-weight: 500;
  }
}

@media (max-width: 988px) {
  .poster-text-overlay p {
    font-size: 32px; /* Smaller font size for screens up to 800px */
    font-weight: 500;
  }
}

@media (max-width: 855px) {
  .poster-slide {
    flex-direction: column; /* Stack items vertically */
  }

  .poster-text-overlay {
    min-width: 100%; /* Take up 100% of the width */
    max-width: 100%; /* Take up 100% of the width */
    padding-right: 0; /* Remove padding between text and image */
    text-align: center; /* Center text */
    align-items: center; /* Center items horizontally */
  }

  .poster-text-overlay p {
    font-size: 38px; /* Reduced font size for smaller screens */
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .poster-section {
    display: flex;
    margin: auto;
    height: 600px; /* Adjust height as needed */
    text-align: left;
    margin-top: -30px;
    padding-right: 30px;
  }

  .poster-slide {
    flex-direction: column; /* Stack items vertically */
  }

  .poster-text-overlay {
    min-width: 100%; /* Take up 100% of the width */
    max-width: 100%; /* Take up 100% of the width */
    padding-right: 0; /* Remove padding between text and image */
    text-align: center; /* Center text */
    align-items: center; /* Center items horizontally */
  }

  .poster-text-overlay p {
    font-size: 38px; /* Reduced font size for smaller screens */
    font-weight: 400;
  }
}
