/* src/App.css */

html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #406ef1, #406ef1);
}

.App {
  text-align: center;
}

section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 760px) {
  section {
    padding: 60px 10px;
  }
}
