.key-features {
  background-color: white; /* Light background for better contrast */
  padding-bottom: 140px;
}

.key-features-section {
  margin: 0 10%;
}

.key-feature-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(145deg, #e3e3e3, #ffffff);
  box-shadow: 10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.key-feature-card:hover {
  transform: scale(1.05); /* Zoom in effect on hover */
  box-shadow: 20px 20px 40px #b1b1b1, -20px -20px 40px #ffffff;
}

.key-feature-icon {
  margin-bottom: 20px;
  color: #003366; /* Dark blue icon color for a professional look */
  transition: color 0.3s ease;
}

.key-feature-card:hover .key-feature-icon {
  color: #001a4d; /* Even darker color on hover */
}

.key-feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
  transition: color 0.3s ease;
}

.key-feature-card:hover .key-feature-title {
  color: #003366; /* Match icon color on hover */
}

.key-feature-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.6; /* Improved readability */
  transition: color 0.3s ease;
}

.key-feature-card:hover .key-feature-text {
  color: #333; /* Slightly darker text on hover */
}

@media (max-width: 960px) {
  .key-feature-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .key-feature-title {
    font-size: 1.2rem;
  }
}
