.key-features {
  background: linear-gradient(90deg, #021048, #1e38a3); /* Light background for better contrast */
  padding-bottom: 140px;
  padding-top: 140px;
  position: relative; /* Ensure the cards are properly positioned */
  overflow: hidden; /* Hide any overflow caused by animations */
}

.key-features-section {
  margin: 0 10%;
  position: relative;
  overflow: hidden;
}

.key-feature-card {
  height: 250px; /* Reduced height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  background: #ffffff; /* White background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1); /* Enhanced 3D effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  opacity: 0; /* Start invisible for animation */
}

.key-feature-card.animate-left {
  animation: slideInLeft 1s forwards; /* Animate from left */
}

.key-feature-card.animate-right {
  animation: slideInRight 1s forwards; /* Animate from right */
}

.key-feature-card.animate {
  animation: fadeIn 1s forwards; /* Fade in animation for middle card */
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%) rotate(-10deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%) rotate(10deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.key-feature-icon {
  margin-bottom: 20px;
  color: #003366; /* Dark blue icon color for a professional look */
  transition: color 0.3s ease;
}

.key-feature-card:hover .key-feature-icon {
  color: #001a4d; /* Even darker color on hover */
}

.key-feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
  transition: color 0.3s ease;
}

.key-feature-card:hover .key-feature-title {
  color: #003366; /* Match icon color on hover */
}

.key-feature-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.6; /* Improved readability */
  transition: color 0.3s ease;
}

.key-feature-card:hover .key-feature-text {
  color: #333; /* Slightly darker text on hover */
}

@media (max-width: 960px) {
  .key-feature-title {
    font-size: 1.3rem;
  }
  .key-feature-card {
    margin-bottom: 20px; /* Gap between cards on smaller screens */
  }
}

@media (max-width: 600px) {
  .key-feature-title {
    font-size: 1.2rem;
  }
  .key-feature-card {
    margin-bottom: 20px; /* Gap between cards on smaller screens */
  }
}
